@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #1a202c;
  --text-color: #a0aec0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#search-input {
    width: 0;
    padding-left: 2.5rem; /* To make space for the icon */
  }
  
  #search-input.show {
    width: 16rem; /* Width when search field is visible */
    opacity: 1;
    pointer-events: auto; /* Allow interaction when visible */
  }